<%= form_with model: project do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
      <% project.errors.full_messages_for(:name).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
   
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>