
<h3>Assigned Tasks:</h3>
<ul>
  <% @project.tasks.each do |task| %>
  <%# <%if task.qa_id == current_user.id %>
    <li>
      <strong>Task Title:</strong> <%= task.title %><br>
      <strong>Task Description:</strong> <%= task.description %><br>
      <strong>Task Timeline:</strong> <%= task.timeline %><br>
      <strong>Task Status:</strong> <%= task.status %><br>
      <strong>Task Type:</strong> <%= task.task_type %><br>
      <strong>Assigned Project:</strong> <%= task.project.name %><br>
      <strong>Created By:</strong> <%= task.user.name %><br>
      <%if task.user_id == current_user.id %>

<div class="btn-group w-25">
        <%= link_to "Edit", edit_project_task_path(task.project, task), class:"btn btn-success mr-2" %>
        <%= link_to "Delete Task", project_task_path(task.project, task), method: :delete, class:"btn btn-danger" %>
         </div>
        
         <% end %>
<%# <%= form_for task, url: project_task_path(project_id: task.project_id, id: task.id), method: :put do |f| %>
    <%# <%= f.label :status, 'Task Status' %>
    <%# <%= f.select :status, options_for_select(['created_now', 'started', 'completed'], task.status), class: 'form-control' %> 
  <%# </div> %>
  <%# <%= f.submit 'Update Task', class: 'btn btn-primary' %>     
<%# <% end %>

     
      <% if task.developer_id.present? %>
        <p><strong>Assigned Developer:</strong> <%= User.find(task.developer_id).name %></p>
      <% else %>
      <%= form_with url: update_task_url(task), method: :put do |form| %>
          <%= hidden_field_tag 'task_id', task.id %>
          <%= hidden_field_tag 'project_id', task.project_id %>

          <div class="form-group"> 
            <%= label_tag 'Developers' %>
            <% developers = @users.select { |user| user.role == 'developer' } %>
            <%= select_tag 'task[developer_id]', options_from_collection_for_select(developers, 'id', 'name'), class: 'form-control' %>
          </div>

          <%= submit_tag 'Assign Developer', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </li>
  <% end %>
  <%# <% end %>
</ul>
